@font-face {

    font-family: "Poppins_Font_Family", sans-serif;
    src: url("../Fonts/Poppins_Font_Family/Poppins\ Regular\ 400.ttf");
    font-style: normal;
    font-weight: 400;
    //unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {

    font-family: "Poppins_Font_Family_Italic";
    src: url("../Fonts/Poppins_Font_Family/Poppins\ Italic\ 400.ttf");
    font-style: normal;
    font-weight: 400;
    //unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {

    font-family: "the-roletta-font";
    src: url("../Fonts/the-roletta-font/TheRoletta-w1v83.ttf");
    font-style: normal;
    font-weight: 400;
    //unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
