@import '../../Assets/Style/fonts';

.main_poins_container {

  padding: 0px;
  overflow-x: hidden;
  font-family: "Poppins_Font_Family", sans-serif;
  //font-family: 'Dancing Script', cursive;
  //background-color: #dfdfdf21;

  // :is(h1, h2, h3, h4, h5, h6) {
  //   //font-family: monospace;
  color: #ffffff;

  .top_me {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #15dddd;
    animation: fadeIn 1000ms ease-in-out;
  }

  .footer {
    width: 100%;
    flex-direction: column;
    position: relative;

    .gradient_bg {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 15px 10px;
      //background-color: #22232382;
      //box-shadow: 0 0 5px 0 #80D0C7;
      border-top: 1px solid #80D0C7;
      //background: linear-gradient(-45deg, #9df1cc, #91f18c, rgb(151, 186, 236), rgb(134, 231, 214));
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
      margin-top: 20px;
      padding-bottom: 0;
      // background-image: url(../../Assets/Images/abstract-background.jpg);
      // background-size: cover;
      // background-position: center;

      .footer_left {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }

      .footer_right {
        display: flex;
        align-items: center;
          .mySwiper_text{
            display: flex;
            justify-content: center;
          }

        p {
          white-space: nowrap;
         
          h6 {
            margin: 0;
            //font-weight: 700;
          }
        }


      }
    }

    .connect_me_footer {
      position: absolute;
      top: -10%;
      left: 26%;
      display: flex;
      //flex-direction: column;
      justify-content: center;
      width: 50%;
      padding: 15px;
      box-shadow: 0 0 20px 0 #222323;
      border-radius: 8px;
      border: 1px solid #80D0C7;
      background-color: #222323;
      //background: linear-gradient(-45deg, #9df1cc, #91f18c, rgb(151, 186, 236), rgb(134, 231, 214));
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
      color: #fff;
      // background-image: url(../../Assets/Images/abstract-background.jpg);
      // background-size: cover;
      // background-position: center;
      //font-weight: 600;

      a {
        color: #fff !important;
      }

      //background: linear-gradient(90deg, rgb(77, 168, 193) 0%, rgb(175, 237, 60) 0%, rgba(0,255,218,1) 100%); 
    }

    .connect_me_footer_mobile {
      width: 80% ;
      left: 10%;
      top:-4px
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }
  }

  .movingRadius {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 79% 41% 96% 30%/87% 53% 67% 31%;
    opacity: 1;
    background-image: radial-gradient(circle farthest-corner at 92.3% 71.5%, rgba(83, 138, 214, 1) 0%, rgba(134, 231, 214, 1) 90%);
    //background: linear-gradient(136.79deg, #fdd95b 15.23%, #fda45b 133.98%);
    animation: movingRadius 5000ms linear infinite;
  }

  .myColor {
    background: -webkit-linear-gradient(rgb(57, 255, 186), rgb(21, 38, 82));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
  }

  // }
  input[type=text] {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 5px;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    accent-color: #1ed760;
    margin-right: 10px;
    cursor: pointer;
  }

  .sun {
    background-size: cover;
    //height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    //background-image: url(../../Assets/Images/flat-mountains.svg);
    //background: linear-gradient(90deg, #e52e71, #ff8a00);
    background-position: center;
    background-attachment: fixed;
    //background-color: #000000;


  }

  .developer_headding {
    font-size: 68px;
    font-weight: bolder;
    animation: fadeIn 1500ms ease-in-out;

    .gradient_headdng {
      transition-delay: 1s ease-in-out;
      background: -webkit-linear-gradient(rgb(21, 38, 82), rgb(57, 255, 186));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .developer_description {
    font-size: 18px;
    margin: 30px 50px 0px 0px;
    animation: fadeIn 1500ms ease-in-out;
  }

  .wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    color: #fff;
    // font-family: monospace;
    font-size: 36px;
    animation: fadeIn 1500ms ease-in-out;
  }

  .myTech {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);

    img {
      transform: rotate(270deg);
      margin-left: 10px;
    }
  }

  .myTech:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  span {
    display: block
  }

  .flip {
    display: inline-block;
    height: 40px;
    overflow: hidden;
    margin: 25px;
    font-size: 32px;
    position: relative
  }

  .flip span {
    animation: flip 6s infinite;
    transition: .5s;
    line-height: 40px;
    background: -webkit-linear-gradient(rgb(21, 38, 82), rgb(57, 255, 186));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: larger;
  }

  @keyframes flip {
    0% {
      transform: translateY(0)
    }

    33% {
      transform: translateY(-100%)
    }

    66% {
      transform: translateY(-200%)
    }

    100% {
      transform: translateY(0)
    }
  }

  @keyframes flicker {

    0%,
    100% {
      opacity: 0
    }

    50% {
      opacity: 1
    }
  }

  .portfolio_bg {
    //background-color: #000000;
    //background: linear-gradient(90deg, #e52e71, #ff8a00);
    //background-image: url(../../Assets/Images/flat-mountains.svg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;


    .slider-thumb::before {
      position: absolute;
      content: "";
      left: -24%;
      top: -12%;
      width: 570px;
      height: 450px;
      background: radial-gradient(circle at -3.1% -4.3%, rgb(57, 255, 186) 0%, rgb(21, 38, 82) 90%);
      border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
      will-change: border-radius, transform, opacity;
      animation: sliderShape 5s linear infinite;
      display: block;
      //z-index: -1;
      -webkit-animation: sliderShape 5s linear infinite;
    }

    .typing-demo {
      text-align: center;
      width: 35vw;
      animation: typing 4s steps(15), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-family: monospace;
      font-size: 2em;
      color: #fff;
      opacity: 0.7;
      margin-top: 10px;
    }

    @keyframes typing {
      from {
        width: 0
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent
      }
    }
  }

  .box_shadow {
    //background-color: #ffffff;
    box-shadow: 0 0 6px 0 #80D0C7;
    border-radius: 12px;
    padding: 30px 15px;

  }

  .my_smooth_animation {
    animation: fadeIn 500ms ease-in-out;

    .my_video {
      border: 1px solid #1ed760;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 4px;
      width: 100%;
      height: 500px;
    }

    .download_capture_img {
      position: absolute;
      right: 22px;
      top: 5px;
    }

    .thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      object-fit: scale-down
    }

    .capture_btn {
      color: #fff;
      position: absolute;
      right: 33px;
      top: 5px;
    }

    .capture_img_div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border: 1px solid #1ed760;
      position: relative;
    }

    .capture_img {
      height: 500px;
      border-radius: 4px;
    }

    .stop_camera {
      border: 1px solid #d24816;
      color: #d24816;
    }

    .re_take {
      border: 1px solid #dbe610;
      color: #dbe610;
    }

    button {
      text-align: center;
      width: fit-content;
      border: 1px solid #1ed760;
      background-color: transparent;
      color: #1ed760;
      box-shadow: 0 0 2px 0 #1ed760;
      padding: 5px;
      border-radius: 2px;
    }
  }

  .my_laptop {
    display: flex;


    // .laptop {
    //   width: 310px;
    //   height: 300px;
    //   opacity: .4;
    //   border-radius: 8px;
    //   background-size: cover;
    //   background-position: center;
    //   background-image: url(../../Assets/Images/laptop.jpg);
    //   animation-delay: 3000ms;
    //   margin-right: 10px;
    // }
    // .laptop_new {
    //   width: 310px;
    //   height: 300px;
    //   margin-right: 10px;
    //   opacity: .4 ;
    //   border-radius: 8px;
    //   background-size: cover;
    //   background-position: center;
    //   background-image: url(../../Assets/Images/portfolio_bg.jpg);
    // }
    // .laptop_new:hover , .laptop:hover{
    //   opacity: 1;
    //   transform: translateY(-30px);
    //   transition: .5s ease-in-out;
    // }
    // .FadeAway {
    //   width: 310px;
    //   position: absolute;
    //   top: 0px;
    //   left: 0px;
    //   height: 300px;
    //   background: linear-gradient(to bottom, rgb(157 157 157 / 31%) 30%, rgba(0, 0, 0, 0) 100%);
    //   box-shadow: 0 0 60px 0 rgb(0 0 0 / 30%);

    // }

    .photo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      line-height: 0;
      margin-bottom: 2em;
      overflow: hidden;
      float: left;
      animation: fadeIn 1500ms ease-in-out;

      .headding {
        position: absolute;
        z-index: 9;
        top: 10%;
        color: #fff;
        border: 2px solid #fff;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 900;
        animation: fadeIn 1000ms ease-in-out;
      }

      img {
        opacity: 0.7;
      }
    }

    .photo,
    .photo img {
      border-radius: 8px;
      height: 250px;
      width: -webkit-fill-available;
    }

    .photo-overlay {
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      /* For centering text inside .photo-overlay */
      flex-direction: column;
      justify-content: center;
      align-items: center;

      opacity: 0.7;
      background-color: rgb(9 0 0 / 67%);

      p {
        font-size: 16px;
        margin-bottom: 5px;
        line-height: 22px;
        color: #fff;
        font-weight: 500;
      }

      p:first-child {
        border: 2px solid #fff;
        padding: 5px;
        border-radius: 4px;
      }
    }

    .photo .photo-overlay {
      transform: translateY(-100%);
      transition: transform .6s;
      //border-bottom: 1px solid #fff;
    }

    .photo:hover .photo-overlay {
      transform: translateY(0%);
    }

    .photo:hover {
      opacity: .9;
    }

    .photo:hover {
      .headding {
        display: none;
      }
    }

  }

  .my_section {
    //background-color: #0900004f;
    color: #fff;
    height: 370px;
    // .gradient_headdng {
    //   transition-delay: 1s ease-in-out;
    //   background: -webkit-linear-gradient(rgb(21, 38, 82), rgb(57, 255, 186));
    //   -webkit-background-clip: text;
    //   -webkit-text-fill-color: transparent;
    // }


    h1 {
      z-index: 2;
      position: relative;
      font-weight: 700;
      color: #fff;
    }


  }

  // .my_section:hover {
  //   transition: all 1s ease-in-out;
  //   scale: 1.05;
  //   transform: translateY(-20px);
  // }
  /* Square */
  .square {
    clip-path: inset(0 0 0 0);
  }

  /* Triangle */
  .triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* Pentagon */
  .pentagon {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  }

  /* Hexagon */
  .hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }

  /* Circle */
  .circle {
    clip-path: circle(40% at 50% 50%);
  }

  .my_color {
    color: #1ed760;
    scale: 1.3;
    transition: 0.1s;
  }

  .about_section {
    position: relative;
    padding: 30px 0px;
    border-radius: 12px;
    //background: #000000;
    height: 338px;

    .mySwiper {
      display: flex;
      flex-direction: column;
      align-items: center;
      //background-image: url("../../Assets/Images/sport_pitch.jpg");
      border-radius: 3px;
      padding: 10px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      h1 {
        font-weight: 900;
      }
    }
  }

  // .about_section:after {
  //   background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
  //   background-position: left-bottom;
  //   background-repeat: repeat-x;
  //   background-size: 32px 32px;
  //   content: " ";
  //   display: block;
  //   position: absolute;
  //   bottom: 0px;
  //   left: 0px;
  //   width: 100%;
  //   height: 32px;
  // }

  .my_backgroung_img {
    background-image: url(../../Assets/Images/abstract-background.jpg);
    background-size: cover;
    background-position: center;
  }

  .my_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //background-color: #000000;
    box-shadow: 0 0 6px 0 #80D0C7;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    color: #ffffff;
    position: relative;

    .fade_me {
      animation: fadeIn_opacity 500ms ease-in-out;
    }

    .my_profile_toggle {
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer;
    }

    .my_profile_toggle_bg {
      color: #80D0C7;
      transition: 0.5s;
    }

    .bi-toggles2::before {
      font-size: 24px;
    }

    .img_cover {
      width: 150px;
      height: 150px;
      border-radius: 32% 67% 37% 65%/53% 34% 70% 43%;
      border: 2px solid #80D0C7;
      padding: 8px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        border-radius: 32% 67% 37% 65%/53% 34% 70% 43%;
      }

      img:hover {
        transform: scale(1.1);
        transition: 0.2s;
      }
    }

    // .img_cover:after {
    //   content: '';
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   // border: 1px solid #80D0C7;
    //   box-shadow: 0 0 3px 0 #80D0C7;
    //   left: 0;
    //   top: 0;
    //   box-sizing: border-box;
    //   border-radius: 50%;
    //   animation: wave 1s infinite linear;
    // }

    @keyframes wave {
      to {
        transform: scale(1.2);
        opacity: 0;
      }
    }


    // .img_cover:hover {
    //   scale: 1.05;
    //   transition: .2s ease-in;
    //   object-fit: cover;
    //   overflow: hidden;
    // }


    .main_tabs {
      display: flex;

      ul {
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
          font-size: 20px;
          padding: 5px 15px;
          font-weight: 600;
          margin-top: 10px;
          //background-color: #ededed;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          //border: 1px solid #1ed760;
          margin-right: 10px;
          border-bottom: 5px solid #78bf92;
          color: #78bf92;
          cursor: pointer;
        }

        .active {
          transition: .2s ease-in-out;
          color: #1ed760;
          border-bottom: 5px solid #1ed760;
          //background-color: #000000;
          //box-shadow: 0 0 7px 0 #1ed760;
        }
      }
    }

    .flip-card {
      background-color: transparent;
      width: 100%;
      height: 360px;
      perspective: 1000px;
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;

    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-card-front {
      color: black;
    }

    .flip-card-back {
      color: white;
      transform: rotateY(180deg);
    }

    .mode {
      font-weight: 600;
      font-size: 16px;
      color: #1ed760;

      .rotate {
        animation: rotate-keyframes 1s;
      }
    }

    .background_Img {
      background-image: url(../../Assets/Images/abstract-background.jpg);
      background-size: cover;
      background-position: center;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    .gray_box_Overflow {
      transition: .3s ease-out;
      filter: grayscale(200%);
    }

    .gray_box_Overflow:hover {
      filter: grayscale(0%);
    }

    .custom_box_shadow:hover {
      transition: .3s ease-out;
      filter: drop-shadow(5px 5px 10px #7a92c3);
    }

    .my_box {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      object-fit: cover;

      .custom_box_Overflow {
        width: 75%;
        transition: .3s ease-out;
      }
    }

    .my_box:hover .custom_box_Overflow {
      scale: 1.1;
    }


  }

  .noShadow {
    box-shadow: none;
  }

}

//Dark Mode
.darkThem {
  //background-color: #1F1430;
  //transition: 1s ease-in;

  div,
  button,
  p,
  h6 {
    color: #fff !important;
    //background-color: #1F1430 !important;

  }
}

.vanish_msg {
  margin-top: 10px;
  color: #fff;
  transition: 5s ease-in-out;
}

.my_projects_section {
  display: flex;
  flex-direction: column;
  border-left: 3px solid #1ed760;
  padding-left: 10px;
  margin-bottom: 15px;

  .my_project_heading {
    display: flex;
    align-items: center;
    position: relative;

    h4::before {
      content: "-";
      width: 10px;
      height: 15px;
      color: #1ed760;
      position: absolute;
      left: -12px;
      top: -3px;
      font-size: 30px;

    }

    .font_big {
      transition: .2s ease-in-out;
      color: #1ed760;
    }

    .font_normal {
      font-size: 24px;
      transition: .2s ease-in-out;
    }

    h4 {
      margin-left: 5px;
    }

    h4,
    img {
      cursor: pointer;
      margin-right: 20px;
    }

    .rotate_me {
      transform: translate(180deg);
    }

    .rotate_me_none {
      transition: .5s;
      transform: translate(0deg);
    }

  }

  .my_project_para {
    display: flex;

    p {
      margin: 0;
    }
  }

  .project {
    transition: 0.3s ease;
  }


  .selected_project {
    transition: .3s ease-out;
    filter: drop-shadow(5px 5px 10px #1ed760);
  }
}

//Animatiom KeyFrame

@keyframes rotate-keyframes {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.grows_pop {
  animation: pop 300ms ease-in-out;
}

@keyframes pop {
  50% {
    transform: scale(1.1);
  }
}

.grows_right {
  animation: growsubRightSide 300ms ease-in-out;
}

@keyframes growsubRightSide {
  0% {
    opacity: 0;
    transform: translateX(-30px)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

.grows_left {
  animation: growsubLeftSide 300ms ease-in-out;
}

.closed {
  animation: shrinksubLeftSide 0.3s ease forwards;
}

@keyframes growsubLeftSide {
  0% {
    opacity: 0;
    transform: translateX(30px)
  }

  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

@keyframes shrinksubLeftSide {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}


.zoom_me {
  animation: growout 300ms ease-in-out;
}

@keyframes growout {
  0% {

    transform: scale(0.5);
  }

  100% {

    transform: scale(1);
  }
}

@keyframes fadeIn {

  0% {
    //opacity: 0;
    transform: translateY(30px);
  }

  100% {
    //opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn_opacity {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}

@keyframes animate {

  0%,
  100% {
    background-position: left top;
  }

  25% {
    background-position: right bottom;
  }

  50% {
    background-position: left bottom;
  }

  75% {
    background-position: right top;
  }
}

@keyframes movingRadius {
  0% {
    border-radius: 16% 95% 45% 47%/23% 76% 41% 48%;
  }

  50% {
    border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
  }

  100% {
    border-radius: 16% 95% 45% 47%/23% 76% 41% 48%;
  }
}

@keyframes color {
  0% {
    background: #33CCCC;
  }

  20% {
    background: #33CC36;
  }

  40% {
    background: #B8CC33;
  }

  60% {
    background: #FCCA00;
  }

  80% {
    background: #33CC36;
  }

  100% {
    background: #33CCCC;
  }
}

@keyframes sliderShape {

  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }

  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes flip {
  0% {
    transform: translateY(0)
  }

  33% {
    transform: translateY(-100%)
  }

  66% {
    transform: translateY(-200%)
  }

  100% {
    transform: translateY(0)
  }
}

@keyframes flicker {

  0%,
  100% {
    opacity: 0
  }

  50% {
    opacity: 1
  }
}

@media only screen and (min-width: 1600px) {
  .developer_description {
    font-size: 28px !important;
  }

  .main_poins_container .portfolio_bg .slider-thumb::before {
    width: 710px;
    height: 650px;
  }
}



@media only screen and (max-width: 991px) {
  .row {
    flex-direction: column !important;
    ;
  }

  .col-md-3,
  .col-md-4,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    width: 100% !important;
  }

  .main_poins_container .myTech {
    position: absolute;
    right: 0;
    top: 5%;
  }

  .new_Tech {
    position: static !important;
    margin: 10px 0px !important;
  }

  .portfolio_bg {
    height: 30vh !important;
  }

  .main_poins_container .flip span {
    font-size: 30px;
  }

  .flip {
    margin-bottom: 0px !important;
    margin-left: 15px !important;
    margin-right: 0px !important;
  }

  .wrap h1 {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .wrap {
    flex-direction: column;
    align-items: normal;
    padding: 25px;
  }

  .main_poins_container .portfolio_bg .slider-thumb::before {
    width: 320px;
    height: 220px;
  }

  .developer_headding {
    display: flex;
    font-size: 30px !important;
    padding: 0px 25px;

    br {
      display: none;
    }

    .gradient_headdng {
      margin-left: 10px;
    }
  }

  .developer_description {
    margin: 0px !important;
    padding: 25px;
  }

  .main_poins_container .about_section .mySwiper h1 {
    font-size: 18px;
  }

  .main_poins_container .about_section .mySwiper {
    align-items: baseline !important;
  }

  .main_poins_container .about_section .mySwiper p {
    padding: 0px 20px 0px 0px !important;
    margin-top: 20px !important;
    width: 100% !important;
    overflow-y: auto;
    height: 100%;
  }

  .main_poins_container .my_section {
    height: fit-content !important;
    margin-top: 20px !important;
  }

  .my_mobile_movingRadius .movingRadius {
    top: -20px;
    left: 20px;
  }

  .main_tabs ul {
    width: 340px;
    overflow-x: auto;
    padding: 10px 5px !important;
  }

  .main_tabs ul li {
    white-space: nowrap;
    border-bottom: 0px solid #1ed760 !important;
  }

  .main_tabs ul li {
    box-shadow: 0 0 0px 0 #1ed760 !important;
  }

  .my_icons {
    max-width: 40px;
  }

  .my_projects_section .my_project_heading h4 {
    font-size: 14px;
    align-items: center;
  }

  .my_projects_section .my_project_heading h4::before {
    top: -8px !important;
  }

  .font_big {
    font-size: 14px !important;
  }

  .my_smooth_animation {

    .my_video {
      height: fit-content !important;
      padding-bottom: 30px !important;
    }

    .capture_img {
      height: fit-content !important;
      width: 100%;
    }

    .thumbnail {
      scale: 0.8;
    }
  }
}

@media screen and (min-width: 990px) and (max-width: 1200px) {

  .main_poins_container .portfolio_bg .slider-thumb::before {
    width: 525px !important;
  }

  .container {
    max-width: 960px !important;
  }

  .myColor {
    text-align: center;
  }

  .developer_headding {
    br {
      display: none;
    }

    span {
      margin-top: 20px;
    }
  }

  .photo-overlay p {
    text-align: center;
  }

  .my_section {
    height: 400px !important;

    h1 {
      font-size: 24px !important;
    }
  }

  .wrap h1 {
    font-size: 26px !important;
    margin: 0px;
  }

  .flip {
    font-size: 22px !important;
    margin: 14px !important;
  }
}